:root{
    --cor1: #B95E5E;
    --cor2: #B95E5E;
    --cor3: #333333;
    --background: #F6F1E6;

    --font-principal: "Playfair Display", sans-serif;  
    --font-secundaria: "poppins", sans-serif;
    --font-paragrafos: "Inter", sans-serif;

}

@media(min-width:1024px){






.retangulo-topo {
position: relative;
background: rgba(240, 14, 14, 1);
background: linear-gradient(74deg,rgba(240, 14, 14, 1) 100%, rgba(84, 3, 3, 1) 0%, );
height: 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: 100%;
    height: 100vh;
    background-image: url(/ASSETS/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-position: right center; /* esquerda e centralizada na vertical */
    background-size: 100%; /* reduz a imagem */
  
  

  
    
}

.info-principal{
  
    
    padding-left: 120px;
}

.advocacia-de-famlia {
width: 565px;
position: relative;
font-size: 48px;
line-height: 60px;
font-family: 'Playfair Display';
background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: left;
display: flex;
height: 196px;

}

.meu-compromisso {
width: 531px;
position: relative;
font-size: 20px;
font-family: Inter;
color: #000;
text-align: left;
display: inline-block;
height: 71px;
margin-bottom: 20px;

}

.images-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    
    
}

#logo{
    width: 10%;
}



button {
  	width: 45%;
  	position: relative;
    padding: 5px;
  	border-radius: 10px;
  	background: #540303;
    background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
  	height: 45px;
    border: none;
    color: var(--background);
    margin-top: 35px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    

}

button.animar {
  background: #f03838;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}





section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  	display: flex;
    align-items: center;
    padding: 50px;
    gap: 30px;
    background: #ff0000;

    
    
  
}

.eu-entendo-o {
  	width: 608px;
  	position: relative;
  	font-size: 48px;
  	line-height: 60px;
  	font-family: 'Playfair Display';
  	color: var(--background);
  	text-align: center;
  	display: inline-block;
  	height: 63px;
}

.questes-de-famlia-container {
    width: 70%;

    position: relative;
    font-size: 20px;
    font-family: Poppins;
    color: #f7f4f4;
    text-align: center;
    display: inline-block;
}
.questes-de-famlia {
  	margin: 0;
}

.images{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.images-geral{
    width: 200px;
    height: auto;
    border-radius: 20px 0px 20px 0px; 
    border: 3px solid #770b0b;
  	box-sizing: border-box;
    text-align: center;    
    gap: 20px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
   

     
}




section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
    
    
    
    

}

.como-posso-ajudar{
    
    justify-content: center;
  	align-items: center;
  	font-size: 48px;
  	line-height: 60px;
  	font-family: 'Playfair Display';
  	background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  	text-align: center;
  	height: 150px;
    
}

.cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 70px;
    
}




.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  	width:300px;
    height: 350px;
  	border-radius: 22px;
  	background-color: rgba(217, 217, 217, 0.58);
  	border: 3px solid #d9d9d9;
  	box-sizing: border-box;
    text-align: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
    
  	
}
/* Efeito no hover */
.card-1:hover {
  transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

.card-2:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.card-2:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.card-3:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.card-4:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.card-5:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.card-6:hover{
    transform: translateY(-10px) scale(1.05); /* sobe e aumenta um pouco */
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}


h2{
    font-size: 22px;
    display: inline-block;
    font-family: var(--font-paragrafos);
    background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    text-align: center;
    line-height: normal;
}

p{

    font-size: 17px;
    font-family: var(--font-paragrafos);
    color: #333;
    text-align: center;
    line-height: normal;
}


section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.aliada{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 40px;
    
    
}

#img-3{
  margin-right: 90px;
    width: 25%;


}
.titulo{
    font-size: 40px;
    font-family: var(--font-principal);
    background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    

}

.paragrafo{
    width: 684px;
    position: relative;
    font-size: 20px;
    font-family: Poppins;
    color: #000;
    text-align: left;
    display: inline-block;
    text-align: left;

}

.dra-ingrid-guimares{
    background: linear-gradient(74deg, rgba(84, 3, 3, 1) 0%, rgba(240, 14, 14, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

}


section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 80px;

}


.scroll-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
  
  max-width: 100vw; /* garante que haja overflow horizontal */
}

.depo {
  flex: 0 0 auto;
  width: 280px;
  height: 200px;
  background: #FBE2E2;
  border-radius: 12px;
  display: flex;
  align-items:center;
  justify-content: center;
  color: #000;
  padding: 30px;
  font-family: Poppins;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: 25px; /* 119.048% */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: start;
  line-height: 14px;
}

.depo:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}



 .name{
        display:flex ;
        justify-content: end;
        font-style: italic;
        font-weight: 900;
        color: var(--cor1);
    }

    section-5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 80px;
       
        
    }

   



    .paragrafo-2{
        font-size: 20px;
        align-items: center;
    }

    

    

    .icons img{
     
        width: 25%;
    
    }

    .icons img:hover {
  transform: translateY(-10px) scale(1.05);

    }



    .linha{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2px;
      background: rgba(51, 51, 51, 0.192);
    }


    .contato-geral{
      
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 80px;
        
    }

    .name-1, .contato, .localizacao{
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
    }

    h3{
        color: rgba(240, 14, 14, 1);
    }

    p-2{
        color: #0a0a0a;
        text-align: start;

        
    }

    footer{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
    }

}
